.item-list {
    position: relative;
}

.item {
    position: absolute;
    width: 200px;

	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

/* Disable Bootstrap's padding in panels in our item list, since it interferes
 * with the layout algorithm.
 */
.item > .panel {
    margin-bottom: 0px;
}
